{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}CEE-2016 - Admin{% endblock %}
{% block page_content %}
<div>
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<form method="post">
    {{ form.classify }}
    {{ form.title.label }}
    {{ form.title }}
    {{ form.hidden_tag() }}
    {{ form.ckeditor(class='ckeditor') }}
    <!-- 替换脚本 -->
    <script type="text/javascript">
        CKEDITOR.replace(
            "ckeditor", {
                filebrowserUploadUrl: '/ckupload/'
            }
        );
    </script>
    {{ form.submit }}
<form>
<div>
{% endblock %}
