{% extends "bases.html" %}
{% block head %}3
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{% endblock %}
{% block body %}
{{ super() }}
<div id="wrap">
    <div class="top_corner"></div>
    <div id="main_container">
    
             
        <div class="center_content">
   
	<div class="wide_content">
            	<h2><center><font size="+2">{{ post.title }}</font></center></h2>
		<p><center>writer:{{ post.author.name }}<center></p>
		{% if current_user.is_administrator() %}
		<a href="{{ url_for('.edit_admin',id=post.id) }}"><span class="label label=danger">Edit [Admin]</span></a>
		{% endif %}
		<p>
		<font size="+1">
		{{ post.body|safe }}
		</font>
		</p>
            </div> 
    </div>
</div>
{% endblock %}
