<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教育实验学院2016级 - CEE</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css',_external=True) }}" media="screen" />
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.core.js',_external=True) }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.superfish.js',_external=True) }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.jcarousel.pack.js',_external=True) }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.easing.js',_external=True) }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.scripts.js',_external=True) }}"></script>
</head>
<div class="center_content1">{{ post.body|safe }}</div>
